@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
  /* max-width: 100%; */
  
}


.header {
  height: 100vh;
}
.navbar {
  margin: 10px;
  height: 68px;
  /* background-color: #f3f3f3; */
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  /* border: 1px solid black; */
  text-align: center;
  align-items: center;
}

.navbar ul li {
  padding: 0 20px;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Space Grotesk", serif;
  text-align: center;
  align-items: center;
  color: black;
}

li button {
  font-size: 20px;
  font-family: "Space Grotesk", serif;
  padding: 20px 35px;
  border-radius: 14px;
  outline: none;
  border: 1px solid black;
  background-color: #fff;
}

.hero {
  margin: 70px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr) repeat(6, 1fr);
  grid-column-gap: 100px;
  padding: 0 100px;
}

.hero-text {
  grid-column: 1 / 7;
  /* background-color: lightblue; */
}

.hero-text h1 {
  font-size: 58px;
  font-weight: 600;
}

.hero-text p {
  font-size: 20px;
  margin: 35px 0;
}

.hero-text button {
  padding: 20px 35px;
  font-size: 20px;
  border-radius: 14px;
  outline: none;
  border: none;
  background-color: #191a23;
  color: #fff;
}

.hero-image, .propsal_image {
  grid-column: 8 / 14;
  /* background-color: aqua; */
}

.hero img {
  max-width: 100%; /* Ensure the image scales properly */
}

.company {
  padding: 0 100px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.service {
  height: 51px;
  display: flex;
  padding: 0 100px;
  margin-top: 20px;
}

.service button {
  width: 178px;
  margin-right: 40px;
  background-color: #b9ff66;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 40px;
}

.service p {
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
  grid-template-rows: repeat(3, 300px); /* 20 rows of equal height (100px) */
  gap: 40px; /* Gap between grid items */
  padding: 0 100px;
  margin-top: 40px;
  /* border: 2px solid red; */
}

.card{
    /* background-color: aqua; */
    margin-bottom: 15px;
    border-radius: 45px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 5px 0 #191a23;
}

.card h3{
    font-size: 30px;
}

.card a{
    color: black;
    text-decoration: none;
}

.learn{
    display: flex;
    align-items: center;
    text-align: center;
    height: 41px;
   
}

.learn img{
    padding-right: 10px;
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Adjust as needed */
  }

  .card-1, .card-4 {
    background-color: #f3f3f3;
  }

  .highlight_1, .highlight_4{
    background-color: #b9ff66;
    border-radius: 10px;
  }

  .card-2, .card-5 {
    background-color: #B9FF66;
  }

  .highlight_2, .highlight_5{
    background-color: #fff;
    border-radius: 10px;
  }

  .card-3, .card-6 {
    background-color: #191a23;
  }

  .highlight_3, .highlight_6{
    background-color: #fff;
    border-radius: 10px;
  }

  #color-white{
    color: #fff;
  }

.proposal {
  margin-top: 48px;
  padding: 0 100px;
  height: 347px;
  
}

.proposal_container {
  
  background-color: #f3f3f3;
  border-radius: 45px;
  padding:60px;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  height: 347px;
}

.proposal_text {
  /* background-color: aqua; */
  width: 50%;
}

.proposal_text h3 {
  font-size: 30px;
  font-weight: bold;
}

.proposal_text p {
  margin: 35px 0;
  font-size: 18px;
 
  
}

.proposal_text button {
  padding: 20px 35px;
  font-size: 20px;
  border-radius: 14px;
  outline: none;
  border: none;
  background-color: #191a23;
  color: #fff;
}


.propsal_image {
  /* background-color: brown; */
  align-items: center;
  text-align: center;
  margin-top: -84px;
 margin-right: -100px;
}

.propsal_image img{
  align-items: center;
  text-align: center;
  width: 494px;
  height: 394px;
}

.content {
  /* background-color: burlywood; */
  padding: 0 100px;
  margin-top: 45px;
}

.box {
  background-color: #191a23;
  border-radius: 45px;
  padding: 70px 60px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.col1{
  border-right: 2px solid #fff;
  padding-right: 64px;
}

.col2 {
  border-right: 2px solid #fff;
  padding: 0 64px;
}

.col3 {
  padding-left: 64px;
}

.box p{
  font-size: 18px;
  margin-bottom: 18px;
}

.box_learn {
  font-size: 20px;
  color: #B9FF66;
  
  padding-right: 5px;
}

.working_process{
  margin-top: 100px;
  
}

.top_div {
  padding: 0 100px;
  display: flex;
  gap: 40px;
}

.top_div_left{
  align-items: center;
}

.top_div_left h2 {
  font-size: 40px;
  font-weight: 500;
  background-color: #B9FF66;
  border-radius: 7px;
  
}

.top_div_right {
  margin-left: 40px;
  font-size: 18px;
  align-items: center;
}

.working_process .bottom_container{
  padding: 0 100px;
  margin-top: 100px;
  /* border: 2px solid red; */
}

.process1{
  height: 279px;
  background-color: #B9FF66;
  border-radius: 45px;
  padding: 41px 60px;
  box-shadow: 0 5px 0 #191a23;
}
.process_title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.process_title .start {
  display: flex;
  align-items: center;
}
.process_title .no {
  font-size: 60px;
  font-weight: 600;
  margin-right: 25px;
}

.process_title .txt {
  font-size: 30px;
  font-weight: 600;
}

.process_paragraph {
  margin-top: 30px;
}

.process{
  margin-top: 30px;
  background-color: #f3f3f3;
  border-radius: 45px;
  padding: 41px 60px;
  box-shadow: 0 5px 0 #191a23;
  height: 159px;
}

.team {
  margin-top: 100px;
  padding: 0 100px;
  border: 2px solid red;
}

.team_container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
}

.team_container .member{
  border: 1px solid black;
  padding: 40px 35px;
  border-radius: 45px;
  box-shadow: 0 5px 0 #191a23;
}

.member .upper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.member .lower {
  margin-top: 28px;
}

.member .lower p {
  font-size: 16px;
}

.designation {
  align-self: flex-end;
}

.member .name {
  font-size: 20px;
  font-weight: 700;
}

.member .position {
  font-size: 16px;
}

.linkedin_icon {
  margin-left: -30px;
}